html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #070716;
}



.navbar-header{
	float: none;
	text-align: center;
}
.navbar-header h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	color: #CCC;
}
.navbar-default{
	background-image: none;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #adadad;
}
.container{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-area{
	visibility: hidden;
	float: right;
}

.panel-body:hover .btn-area{
	visibility: visible;
}

.panel-coord{
	color:#545454;
}

.add-location-dialog{
	margin-top: 20px;
}

.error-div{
	text-align: center;
	margin-top:60px;
}

.my-btn{
	background-image: none;
	border: 3px solid #1EBAD6;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	text-shadow: none;
}

.my-btn:hover, .my-btn:focus{
	background-image: none;
	border: 3px solid transparent;
	background-color: #1EBAD6;
	color: white;
	text-shadow: none;
}

.my-btn-panel{
	color: #1EBAD6;
}
.panel-primary>.panel-heading {
	background-image: none;
	background-color: #1EBAD6;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.panel:hover{
	-webkit-box-shadow: 0px 0px 0px 2px rgba(30, 186, 214, .75);
	-moz-box-shadow: 0px 0px 0px 2px rgba(30, 186, 214, .75);
	box-shadow: 0px 0px 0px 2px rgba(30, 186, 214, .75);
}

.save-btn-area{
	margin-top: 10px;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active{
	background-image: none;
	border: 3px solid transparent;
	background-color: #1EBAD6;
	color: white;
	text-shadow: none;
}

